.marginEmail {
  margin-top: 143px;
}
.hei {
  height: 900px;
  transform: translateY(0);
  margin-top: 70px;
}
.marginLogin {
  margin-top: 32px;
}
@media (max-width: 395px) {
  .App {
    width: 390px;
    /* height: auto; */
    display: block;
    position: relative;
    /* height: 50%; */
    margin: 0 auto;
  }
  .page {
    margin: 0 auto;
  }
  .page-left {
    margin: 600px 0 0 25px;
    position: relative;
  }
  .fa {
    /* display: none; */
    width: 380px;
    height: 550px;
    position: absolute;
    top: -50px;
    left: 5px;
    margin: 0 auto;
  }
  .tracking {
    width: 70%;
    margin: 0 auto;
    padding-top: 150px;
  }
  /* .bao{
        transform: translateY(50%);
      } */
  .text-tracking {
    width: 100%;
    text-align: center;
  }
  .text-tracking .owner {
    margin-bottom: 16px;
  }
  .marka1 {
    display: block;
    margin-bottom: 50px;
  }
  .logo {
    display: none;
  }
  .logo1 {
    display: block;
  }
  .hei {
    margin-top: 280px;
  }
  .marginLogin {
    margin-top: 0;
  }
  .marginLogin {
    margin-top: -100px;
  }
  .marginEmail {
    margin-top: 650px;
  }
}
