/* Reset App */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------------------ */

/* .App .page img*/
.App {
  margin: auto;
  width: 1920px;
  /* height: 1300px; */
}
.page {
  width: 1920px;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
img {
  display: block;
  width: 100%;
}
input, textarea{
  outline: none;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  align-items: center;
}
textarea{
  padding-bottom: 15px;
  padding-top: 25px !important;
  resize: none;  
  outline: none;
  border: none;

}
/* --------------------- */

/* Page-left */
/* .page-left {
  width: 50%;
} */
.page-left .page-left-in {
  width: 311px;
  margin: 0 auto;
}
.logo {
  margin-top: 70px;
  width: 311px;
  cursor: pointer;
}
.logo1 {
  display: none;
}
.icon {
  padding-bottom: 2px;
  padding-right: 14px;
}
.com-chil {
  display: flex;
  width: 311px;
  height: 28px;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid #d6deed;
}
.login-now {
  text-align: center;
  margin-top: 48px;
}
.login-now p {
  display: inline;
}
.icon1 {
  position: absolute;
  right: 0;
}
.hid {
  position: relative;
}
.but-reg {
  margin-top: 40px;
}
.button {
  border: #041967;
  border-radius: 16px;
  width: 311px;
  height: 50px;
  color: #fff;
  background-color: #041967;
  cursor: pointer;
}
.res {
  color: #041967;
  margin-top: 100px;
  margin-bottom: 72px;
}
.res > h2 {
  font-weight: 400;
}
.text {
  margin-top: 50px;
}
.textaa {
  
}
.owner {
  color: #008dff;
  margin-top: 53px;
  margin-bottom: 28px;
}
.owner > p {
  font-weight: 600;
}
p.login {
  color: #008dff;
  font-weight: 500;
  cursor: pointer;
}
.marka {
  width: 140px;
  height: 15px;
  margin: 0 auto 66.69px;
}
.mark {
  background-color: #fff;
  display: flex;
  margin-top: 146.5px;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
}
.marka1{
  display: none;
}
.mark .c-mark {
  width: 11px;
  margin-right: 5px;
}
.text-mark {
  align-items: center;
  padding-top: 17px;
}
.tea{
  padding-top: 10px;
}
.f-input {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  padding-bottom: 15px;
}
.f-input::-webkit-scrollbar {
 display: none;
}
.input{
  position: relative;
  width: 100%;
  font-weight: 400;
}
.f-input{
  height: 20px;
  width: 100%;
  transition: 0.25s ease;
  border: none;
  color: #041967;
  font-size: 16px;
  padding-top: 20px;
}

.com-chil:hover{
  border-bottom: 1px solid black;
}
.f-label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  user-select: none;
  pointer-events: none;
  transition: 0.25s ease;
}
.f-input:not(:placeholder-shown) + .f-label,
.f-input:focus + .f-label{
  transform: translateY(-50px);
  font-size: 14px;
  color: #8C8C8C;
  padding-top: 15px;
}
.f-inputa {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-weight: 400;
  padding-bottom: 15px;
}
.f-inputa::-webkit-scrollbar {
 display: none;
}
.f-labela{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  user-select: none;
  pointer-events: none;
  transition: 0.25s ease;
}
.f-inputa{
  height: 20px;
  width: 100%;
  line-height: 20px;
  transition: 0.25s ease;
  border: none;
  color: #041967;
  font-size: 16px;
  padding-top: 25px;
  margin-bottom: 10px;
}
.f-inputa:not(:placeholder-shown) + .f-labela,
.f-inputa:focus + .f-labela{
  transform: translateY(-65px);
  font-size: 14px;
  color: #8C8C8C;
  padding-top: 15px;
}
/* .f-inputa:focus {
  margin-bottom: 20px;
} */
/* --------------------------- */

/* Page right */
/* .page .page-right {
  width: 50%;
} */
/* .block-tracking {

} */
.tracking {
  width: 520.69px;
  height: 298.46px;
  margin: 170px 174.31px 157.4px 160px;
}

.text-tracking {
  width: 100%;
  text-align: center;
}
.text-tracking .owner {
  margin-bottom: 16px;
}
.tt{
  margin-bottom: 16px;
}
.fa{
  position: relative;
  width: 855px;
  height: 760px;
  display: block;
  background: #f9f9f9;
  border: 1px solid #efefef;
  border-radius: 16px;
  margin: 0 auto;
  transform: translateY(50%);
}
.slick-dots li button:before{
  font-size: 10px !important;
}
.slick-dots li{
  width: 10px !important;
}
.linkpage {
  text-decoration: none;
}
/* ------------------------- */

/* Responsive */

@media (max-width:900px){
  .App{
    width: 390px;
    /* height: auto; */
    display: block;
    position: relative;
    /* height: 50%; */
    margin: 0 auto;
  }
  .page{
    margin: 0 auto;
  }
  .page-left{
    margin: 600px 0 0 25px;
    position: relative;
  }
  .fa{
    /* display: none; */
    width: 380px ;
    height: 550px;
    position: absolute;
    top: -50px;
    left: 5px;
    margin: 0 auto;
  }
  .tracking {
    width: 70%;
    margin: 0 auto;
    padding-top: 150px;
  }
  /* .bao{
    transform: translateY(50%);
  } */
  .text-tracking {
    width: 100%;
    text-align: center;
  }
  .text-tracking .owner {
    margin-bottom: 16px;
  }
  .login-now {
    margin-bottom: 146.5px;
    margin-top: 48px;
  }
  .marka1{
    display: block;
    margin-bottom: 50px;
  }
  .logo {
    display: none;
  }
  .logo1 {
    display: block;
  }
}
